In [2]:
import json
import requests
import pandas as pd

In [2]:
def get_bing_available_languages():
    params = (
        ('api-version', '3.0'),
        ('scope', 'translation'),
    )
    response = requests.get('https://api.cognitive.microsofttranslator.com/languages', params=params)
    return [(lang, extra_info['name']) for lang, extra_info in
            json.loads(response.text)['translation'].items()]

bing_languages = get_bing_available_languages()
bing_languages

[('af', 'Afrikaans'),
 ('am', 'Amharic'),
 ('ar', 'Arabic'),
 ('as', 'Assamese'),
 ('az', 'Azerbaijani'),
 ('bg', 'Bulgarian'),
 ('bn', 'Bangla'),
 ('bs', 'Bosnian'),
 ('ca', 'Catalan'),
 ('cs', 'Czech'),
 ('cy', 'Welsh'),
 ('da', 'Danish'),
 ('de', 'German'),
 ('el', 'Greek'),
 ('en', 'English'),
 ('es', 'Spanish'),
 ('et', 'Estonian'),
 ('fa', 'Persian'),
 ('fi', 'Finnish'),
 ('fil', 'Filipino'),
 ('fj', 'Fijian'),
 ('fr', 'French'),
 ('fr-CA', 'French (Canada)'),
 ('ga', 'Irish'),
 ('gu', 'Gujarati'),
 ('he', 'Hebrew'),
 ('hi', 'Hindi'),
 ('hr', 'Croatian'),
 ('ht', 'Haitian Creole'),
 ('hu', 'Hungarian'),
 ('hy', 'Armenian'),
 ('id', 'Indonesian'),
 ('is', 'Icelandic'),
 ('it', 'Italian'),
 ('iu', 'Inuktitut'),
 ('ja', 'Japanese'),
 ('kk', 'Kazakh'),
 ('km', 'Khmer'),
 ('kmr', 'Kurdish (Northern)'),
 ('kn', 'Kannada'),
 ('ko', 'Korean'),
 ('ku', 'Kurdish (Central)'),
 ('lo', 'Lao'),
 ('lt', 'Lithuanian'),
 ('lv', 'Latvian'),
 ('lzh', 'Chinese (Literary)'),
 ('mg', 'Malagasy'),
 ('mi', 'Māori'),
 ('ml', 'Malayalam'),
 ('mr', 'Marathi'),
 ('ms', 'Malay'),
 ('mt', 'Maltese'),
 ('mww', 'Hmong Daw'),
 ('my', 'Myanmar (Burmese)'),
 ('nb', 'Norwegian'),
 ('ne', 'Nepali'),
 ('nl', 'Dutch'),
 ('or', 'Odia'),
 ('otq', 'Querétaro Otomi'),
 ('pa', 'Punjabi'),
 ('pl', 'Polish'),
 ('prs', 'Dari'),
 ('ps', 'Pashto'),
 ('pt', 'Portuguese (Brazil)'),
 ('pt-PT', 'Portuguese (Portugal)'),
 ('ro', 'Romanian'),
 ('ru', 'Russian'),
 ('sk', 'Slovak'),
 ('sl', 'Slovenian'),
 ('sm', 'Samoan'),
 ('sq', 'Albanian'),
 ('sr-Cyrl', 'Serbian (Cyrillic)'),
 ('sr-Latn', 'Serbian (Latin)'),
 ('sv', 'Swedish'),
 ('sw', 'Swahili'),
 ('ta', 'Tamil'),
 ('te', 'Telugu'),
 ('th', 'Thai'),
 ('ti', 'Tigrinya'),
 ('tlh-Latn', 'Klingon (Latin)'),
 ('tlh-Piqd', 'Klingon (pIqaD)'),
 ('to', 'Tongan'),
 ('tr', 'Turkish'),
 ('ty', 'Tahitian'),
 ('uk', 'Ukrainian'),
 ('ur', 'Urdu'),
 ('vi', 'Vietnamese'),
 ('yua', 'Yucatec Maya'),
 ('yue', 'Cantonese (Traditional)'),
 ('zh-Hans', 'Chinese Simplified'),
 ('zh-Hant', 'Chinese Traditional')]

In [19]:
bing_languages = pd.DataFrame(bing_languages, columns=["BCP_47", "name"])
bing_languages

     BCP_47                     name
0        af                Afrikaans
1        am                  Amharic
2        ar                   Arabic
3        as                 Assamese
4        az              Azerbaijani
..      ...                      ...
86       vi               Vietnamese
87      yua             Yucatec Maya
88      yue  Cantonese (Traditional)
89  zh-Hans       Chinese Simplified
90  zh-Hant      Chinese Traditional

[91 rows x 2 columns]

In [4]:
language_mapping = pd.read_csv('../dataset/mbertlangs.txt', sep='\t')
language_mapping

    wiki             name      iso googletranslate
0     af        Afrikaans      afr              af
1     sq         Albanian      sqi              sq
2     ar           Arabic  ara,arb              ar
3     an        Aragonese      arg             NaN
4     hy         Armenian      hye              hy
..   ...              ...      ...             ...
99    fy     West Frisian      fry              fy
100  pnb  Western Punjabi  pnb,pan             NaN
101   yo           Yoruba      yor              yo
102   th             Thai      tha              th
103   mn        Mongolian  mon,khk             NaN

[104 rows x 4 columns]

In [20]:
df_merge = pd.merge(
    language_mapping, bing_languages['BCP_47'], left_on='wiki',
    right_on='BCP_47', how='left')
df_merge.loc[df_merge['BCP_47'].isnull(), 'BCP_47'] = ''
df_merge

    wiki             name      iso googletranslate BCP_47
0     af        Afrikaans      afr              af     af
1     sq         Albanian      sqi              sq     sq
2     ar           Arabic  ara,arb              ar     ar
3     an        Aragonese      arg
4     hy         Armenian      hye              hy     hy
..   ...              ...      ...             ...    ...
99    fy     West Frisian      fry              fy
100  pnb  Western Punjabi  pnb,pan
101   yo           Yoruba      yor              yo
102   th             Thai      tha              th     th
103   mn        Mongolian  mon,khk

[104 rows x 5 columns]

In [21]:
df_merge.to_csv('../dataset/languages_mapping.txt', sep='\t', index=False)