In [1]:
import os, sys
sys.path.append(os.path.join(os.path.dirname("/home/wsr217/mpararel/")))
import json

from dataset.create_mpararel import get_agreed_translations_and_stats, add_english_stats, add_mlama
import glob

In [2]:
translations_folders_glob = "../data/cleaned_mtrex_and_mpatterns/patterns/*"

agreed_translations, df = get_agreed_translations_and_stats(
        glob.glob(translations_folders_glob))

100%|██████████| 38/38 [00:20<00:00,  1.82it/s]

In [3]:
df

     language relation  agreed_templates_count  translators_count
0          cy      P30                       4                  4
1          sw      P30                       3                  5
2          af      P30                       4                  5
3          jv      P30                       0                  1
4          ta      P30                       4                  4
...       ...      ...                     ...                ...
3149       ar     P127                       4                  5
3150       es     P127                       4                  5
3151       cs     P127                       6                  5
3152       sr     P127                       1                  2
3153       zh     P127                       4                  5

[3154 rows x 4 columns]

In [4]:
pararel_patterns_folder = "../data/pararel/pattern_data/graphs_json"
agreed_translations, df = add_english_stats(df, agreed_translations,
                                            pararel_patterns_folder)
df

   language relation  agreed_templates_count  translators_count
0        cy      P30                       4                  4
1        sw      P30                       3                  5
2        af      P30                       4                  5
3        jv      P30                       0                  1
4        ta      P30                       4                  4
..      ...      ...                     ...                ...
33       en     P264                      17                  0
34       en     P495                      17                  0
35       en     P131                       3                  0
36       en     P740                      14                  0
37       en     P127                       4                  0

[3192 rows x 4 columns]

In [5]:
df[(df.language == 'ca') & (df.relation == 'P449')]

    language relation  agreed_templates_count  translators_count
646       ca     P449                      11                  4

In [6]:
[t for t, _ in agreed_translations['ca']['P449']]

['[X] es va emetre originalment a [Y]',
 "[X] s'estrenarà a [Y]",
 "[Y] s'estrenarà [X]",
 '[Y] va debutar [X]',
 '[X] va debutar a [Y]',
 'el debut [Y] de [X]',
 "l'alliberament [Y] de [X]",
 '[X] va ser alliberat a [Y]',
 '[Y] alliberat [X]',
 '[X] es va estrenar a [Y]',
 "[X] s'estrena a [Y]"]

In [7]:
with open(os.path.join("../data/mlama1.1/ca/templates.jsonl")) as f:
    for line in f:
        read_line = json.loads(line)
        if read_line["relation"] == "P449":
            print(read_line["template"])

[X] es va publicar originalment a [Y].

In [8]:
df[(df.language == 'es') & (df.relation == 'P449')]

    language relation  agreed_templates_count  translators_count
660       es     P449                      16                  5

In [9]:
[t for t, _ in agreed_translations['es']['P449']]

['[X] fue originalmente emitido en [Y]',
 '[Y] es debutar [X]',
 '[Y] debutó [X]',
 '[X] debutó en [Y]',
 '[X] fue liberado en [Y]',
 '[X] se emitió originalmente en [Y]',
 '[X] debutará en [Y]',
 '[Y] va a debutar [X]',
 'el debut [Y] de [X]',
 'la versión [Y] de [X]',
 '[X] fue lanzado en [Y]',
 '[Y] liberado [X]',
 '[X] se estrenó en [Y]',
 '[X] se estrena en [Y]',
 '[X] es debutar en [Y]',
 'la liberación [Y] de [X]']

In [10]:
import json

with open(os.path.join("../data/mlama1.1/es/templates.jsonl")) as f:
    for line in f:
        read_line = json.loads(line)
        if read_line["relation"] == "P449":
            print(read_line["template"])

[X] se emitió originalmente en [Y].

In [11]:
mlama_folder = "../data/mlama1.1"
agreed_translations, df = add_mlama(df, agreed_translations, mlama_folder)
df

2021-10-19 13:38:39,282 - dataset.create_mpararel - INFO - Adding mlama templates
 33%|███▎      | 18/54 [00:01<00:02, 14.83it/s]

mlama_template [X] es va publicar originalment a [Y]
mlama_template in lang_relation_templates False
existing_value [11]

100%|██████████| 54/54 [00:04<00:00, 13.47it/s]

    language relation  agreed_templates_count  translators_count
0         cy      P30                       4                  4
1         sw      P30                       3                  5
2         af      P30                       4                  5
3         jv      P30                       0                  1
4         ta      P30                       4                  4
..       ...      ...                     ...                ...
419       sv    P1923                       1                  1
420       sv     P527                       1                  1
421       sv     P102                       1                  1
422       sv    P1001                       1                  1
423       sv      P31                       1                  1

[3616 rows x 4 columns]

In [12]:
df[(df.language == 'ca') & (df.relation == 'P449')]

    language relation  agreed_templates_count  translators_count
646       ca     P449                      12                  4

In [13]:
[t for t, _ in agreed_translations['ca']['P449']]

['[X] es va emetre originalment a [Y]',
 "[X] s'estrenarà a [Y]",
 "[Y] s'estrenarà [X]",
 '[Y] va debutar [X]',
 '[X] va debutar a [Y]',
 'el debut [Y] de [X]',
 "l'alliberament [Y] de [X]",
 '[X] va ser alliberat a [Y]',
 '[Y] alliberat [X]',
 '[X] es va estrenar a [Y]',
 "[X] s'estrena a [Y]",
 '[X] es va publicar originalment a [Y]']

In [14]:
df[(df.language == 'es') & (df.relation == 'P449')]

    language relation  agreed_templates_count  translators_count
660       es     P449                      16                  5

In [16]:
[t for t, _ in agreed_translations['es']['P449']], len(agreed_translations['es']['P449'])

(['[X] fue originalmente emitido en [Y]',
  '[Y] es debutar [X]',
  '[Y] debutó [X]',
  '[X] debutó en [Y]',
  '[X] fue liberado en [Y]',
  '[X] se emitió originalmente en [Y]',
  '[X] debutará en [Y]',
  '[Y] va a debutar [X]',
  'el debut [Y] de [X]',
  'la versión [Y] de [X]',
  '[X] fue lanzado en [Y]',
  '[Y] liberado [X]',
  '[X] se estrenó en [Y]',
  '[X] se estrena en [Y]',
  '[X] es debutar en [Y]',
  'la liberación [Y] de [X]'],
 16)