In [1]:
import os, sys
sys.path.append(os.path.join(os.path.dirname("/home/wsr217/mpararel/")))
import json

from dataset.create_mpararel import get_agreed_translations_and_stats, add_english_stats, add_mlama
import glob

In [2]:
translations_folders_glob = "../data/cleaned_mtrex_and_mpatterns/patterns/*"

agreed_translations, df = get_agreed_translations_and_stats(
        glob.glob(translations_folders_glob))

100%|██████████| 38/38 [00:20<00:00,  1.82it/s]

In [3]:
df

     language relation  agreed_templates_count  translators_count
0          cy      P30                       4                  4
1          sw      P30                       3                  5
2          af      P30                       4                  5
3          jv      P30                       0                  1
4          ta      P30                       4                  4
...       ...      ...                     ...                ...
3149       ar     P127                       4                  5
3150       es     P127                       4                  5
3151       cs     P127                       6                  5
3152       sr     P127                       1                  2
3153       zh     P127                       4                  5

[3154 rows x 4 columns]

In [4]:
pararel_patterns_folder = "../data/pararel/pattern_data/graphs_json"
agreed_translations, df = add_english_stats(df, agreed_translations,
                                            pararel_patterns_folder)
df

   language relation  agreed_templates_count  translators_count
0        cy      P30                       4                  4
1        sw      P30                       3                  5
2        af      P30                       4                  5
3        jv      P30                       0                  1
4        ta      P30                       4                  4
..      ...      ...                     ...                ...
33       en     P264                      17                  0
34       en     P495                      17                  0
35       en     P131                       3                  0
36       en     P740                      14                  0
37       en     P127                       4                  0

[3192 rows x 4 columns]

In [11]:
mlama_folder = "../data/mlama1.1"
agreed_translations, df = add_mlama(df, agreed_translations, mlama_folder)
df

2021-10-19 13:38:39,282 - dataset.create_mpararel - INFO - Adding mlama templates
 33%|███▎      | 18/54 [00:01<00:02, 14.83it/s]

mlama_template [X] es va publicar originalment a [Y]
mlama_template in lang_relation_templates False
existing_value [11]

100%|██████████| 54/54 [00:04<00:00, 13.47it/s]

    language relation  agreed_templates_count  translators_count
0         cy      P30                       4                  4
1         sw      P30                       3                  5
2         af      P30                       4                  5
3         jv      P30                       0                  1
4         ta      P30                       4                  4
..       ...      ...                     ...                ...
419       sv    P1923                       1                  1
420       sv     P527                       1                  1
421       sv     P102                       1                  1
422       sv    P1001                       1                  1
423       sv      P31                       1                  1

[3616 rows x 4 columns]

In [17]:
df[df.language == "en"]

   language relation  agreed_templates_count  translators_count
0        en      P30                       4                  0
1        en     P279                       4                  0
2        en      P39                       6                  0
3        en    P1303                       4                  0
4        en      P19                      13                  0
5        en     P101                      13                  0
6        en    P1412                       8                  0
7        en     P449                      11                  0
8        en     P140                       4                  0
9        en     P103                       4                  0
10       en     P178                      16                  0
11       en      P20                       8                  0
12       en     P463                       5                  0
13       en     P138                      20                  0
14       en     P364                       6                  0
15       en      P47                       9                  0
16       en    P1376                      14                  0
17       en     P106                      11                  0
18       en      P37                       9                  0
19       en     P413                       6                  0
20       en      P17                       3                  0
21       en     P190                       4                  0
22       en     P136                       6                  0
23       en     P407                      18                  0
24       en     P159                      10                  0
25       en     P937                       5                  0
26       en     P276                       2                  0
27       en     P530                       9                  0
28       en     P361                       2                  0
29       en     P176                      12                  0
30       en      P27                       9                  0
31       en     P108                       4                  0
32       en      P36                      14                  0
33       en     P264                      17                  0
34       en     P495                      17                  0
35       en     P131                       3                  0
36       en     P740                      14                  0
37       en     P127                       4                  0
48       en     P166                       1                  1
49       en      P69                       1                  1
50       en      P54                       1                  1
51       en    P1923                       1                  1
52       en     P527                       1                  1
53       en     P102                       1                  1
54       en    P1001                       1                  1
55       en      P31                       1                  1